<p>usuarios works!</p>

<hr>

<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nombre completo</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Avatar</td>
                    <td>Camilo V.</td>
                    <td>bolivar014@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>